.footerComponent {
    min-height: 500px;
    background-color: #201a16;
    font-family: "PT Sans", sans-serif;
}

.footerComponent .footerNavOptions {
    display: flex;
    font-size: 20px;
    list-style: none;
    padding-top: 50px;
    justify-content: center;
}

.dividerDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFF;
    margin: 6px 20px 0 20px;
}

.footerComponent .footerNavOptions a {
    font-size: 20px;
}

.footerComponent .footerInfo {
    display: flex;
    justify-content: center;
}

.footerComponent .mapouter {
    width: 550px;
    height: 350px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: right;
    position: relative;
}

.footerComponent .gmapCanvas {
    width: 550px;
    height: 350px;
    overflow: hidden;
    background: none !important;
}

.footerComponent .storeInfo {
    width: 35%;
    display: flex;
    color: white;
    padding-top: 25px;
    margin-right: 100px;
    flex-direction: column;
    justify-content: space-around;
    font-family: "PT Sans", sans-serif;
}

.footerComponent .storeInformation {
    display: flex;
    justify-content: space-between;
}

.footerComponent a {
    color: white;
    font-size: 28px;
}

@media screen and (max-width: 700px) {
    .footerComponent .footerNavOptions {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .footerComponent {
        min-height: 350px;
        text-align: center;
    }
    .footerComponent .mapouter {
        display: none;
    }
    .footerComponent a {
        font-size: 28px;
    }
    .footerComponent .storeInformation {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footerComponent .storeInformation .storeHours {
        margin-bottom: 80px;
    }
    .footerComponent .storeInformation .storeAddress {
        border-right: 1px solid white;
    }
    .footerComponent .storeInfo {
        width: 100%;
        padding-top: 0;
        margin: 0 auto;
    }
    .footerComponent .storeInfo .storeContactInfo {
        width: 100%;
        padding-top: 0;
    }
    .footerComponent .storeInfo .email {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 320px) {
    .footerComponent a {
        font-size: 24px;
    }
}