.hoursPopUp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #696969;
    z-index: 999;
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    font-family: "PT Sans", sans-serif;
    overflow: scroll;
    z-index: 999;
    max-width: 100vw;
    max-height: 100vh;
    margin-top: 0px;
}

.hoursPopUp div {
    float: right;
    margin: 20px 20px 0 0;
}

.hoursPopUp table {
    table-layout: fixed;
    margin: 40% auto;
    width: 80%;
    border-collapse: collapse;
    vertical-align: center;
    text-align: center;
}

.hoursPopUp th,
.hoursPopUp td {
    padding: 20px;
}

.hoursPopUp tr td:nth-child(1) {
    color: #DCDCDC;
}

.hoursPopUp tr td:nth-child(2) {
    color: white;
}