.mapPopup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #696969;
}

.mapPopup .map {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.mapPopup .mapouter {
    width: 350px;
    height: 800px;
    text-align: right;
    position: relative;
}

.mapPopup .gmapCanvas {
    width: 350px;
    ;
    height: 800px;
    overflow: hidden;
    background: none !important;
}

.float {
    left: 78%;
    position: relative;
}

@media screen and (max-width: 414px) {
    .mapPopup .closePopup {
        margin: 20px 40px 0 0;
    }
}

@media screen and (max-width: 375px) {
    .mapPopup .closePopup {
        margin: 20px 23px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .mapPopup .closePopup {
        margin: 27px 7px 0 0;
    }
}