.splashPage {
    overflow: hidden;
    height: 700px;
    width: 100%;
    position: relative;
}

.splashImg {
    width: 100%;
    height: 700px;
    opacity: 0.75;
    box-shadow: inset 0px 0px 1px 3px black;
    margin: 0 auto;
    transform: translateY(0%);
    position: relative;
    z-index: 0;
    transition: 2s opacity ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
}

.splashImg:hover {
    opacity: 0.85;
}

.colorOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 700px;
    background-color: rgba(32, 26, 22, .6);
    z-index: 99;
}

.splashDesc {
    animation: feature-text-anim .75s ease-in-out;
    z-index: 100;
    width: 100%;
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    top: 250px;
    text-align: center;
    left: 0;
    text-rendering: optimizeLegibility;
    padding: 0 50px;
}

.splashDesc p,
.splashDesc h1 {
    font-family: playfair-display, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.3em;
    color: #9c9999;
    margin: 0 auto;
    margin-bottom: 50px;
}

.splashDesc h1 {
    font-weight: 600;
    font-size: 86px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1.1em;
    margin: 0 auto;
    color: #eee;
    margin-bottom: 45px;
}

@media screen and (max-width: 2560px) {
    .splashPage .colorOverlay,
    .splashPage .splashImg {
        height: 700px;
    }
    .splashPage .splashDesc {
        bottom: 465px;
    }
}

@media screen and (max-width: 900px) {
    .splashPage .splashDesc p {
        font-size: 24px;
    }
    .splashPage .splashDesc h1 {
        font-size: 58px;
    }
    .splashPage .splashDesc {
        bottom: 385px;
    }
}

@media screen and (max-width: 438px) {
    .splashPage,
    .splashPage .colorOverlay,
    .splashPage .splashImg {
        height: 500px;
    }
    .splashPage .splashDesc {
        top: 33%
    }
    .splashPage .splashDesc p {
        letter-spacing: 2px;
        font-size: 18px;
    }
    .splashPage .splashDesc h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 320px) {
    .splashPage .colorOverlay,
    .splashPage .splashImg {
        height: 500px;
    }
    .splashPage .splashDesc {
        top: 33%
    }
    .splashPage .splashDesc p {
        font-size: 16px;
    }
    .splashPage .splashDesc h1 {
        font-size: 34px;
    }
}