.surveyRequestForm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.surveyRequestForm input {
    border: 1px solid black;
}

.float {
    float: right;
}

.surveyRequestForm .formInformation {
    z-index: 999;
    padding: 30px;
    max-width: 50%;
    max-height: 80%;
    overflow: scroll;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    margin: 50px auto 0 auto;
    border: 1px solid black;
    font-family: montserrat, sans-serif;
}

.surveyRequestForm h1,
.surveyRequestForm h3 {
    text-align: left;
}

.surveyRequestForm .closeForm {
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.surveyRequestForm #form-input {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    background: #fafafa;
    border: 1px solid #ccc;
}

.surveyRequestForm textarea {
    width: 100%;
    resize: none;
    border-radius: 2px;
    background: #fafafa;
    border: 1px solid #ccc;
}

.surveyRequestForm .requestedDate {
    align-content: left;
}

.surveyRequestForm .dateRequested {
    width: 50%;
    height: 40px;
    font-size: 18px;
    align-self: left;
    border-radius: 2px;
    text-align: center;
    background: #fafafa;
    border: 1px solid #ccc;
}

.surveyRequestForm .nameForms {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.surveyRequestForm .nameForms .nameLabel {
    float: left;
}

.surveyRequestForm .nameForms .fistNameForm,
.surveyRequestForm .nameForms .lastNameForm {
    width: 48%;
}

.surveyRequestForm .email {
    width: 50%;
    height: 40px;
    border-radius: 2px;
    background: #fafafa;
    border: 1px solid #ccc;
}

.surveyRequestForm .phone {
    width: 50%;
    margin: 0 auto;
}

.surveyRequestForm .submitBtn {
    color: #eee;
    border: none;
    height: 60px;
    width: 260px;
    margin: 70px 0;
    cursor: pointer;
    background-color: #000;
}

.surveyRequestForm .submitBtn:hover {
    opacity: .8;
}

@media screen and (max-width: 1000px) {
    .surveyRequestForm .formInformation {
        max-width: 100%;
        margin-top: 0px;
        max-height: 100%;
    }
    .surveyRequestForm .dateRequested,
    .surveyRequestForm .timeRequested,
    .surveyRequestForm .email,
    .surveyRequestForm .phone {
        width: 100%;
    }
    .surveyRequestForm .submitBtn {
        width: 100%;
        height: 80px;
    }
}