.aboutPage .aboutInfo {
    max-width: 80%;
    margin: 0 auto 150px auto;
}

.aboutPage .aboutInfo h2 {
    text-align: center;
    margin-bottom: 60px;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 33px;
    letter-spacing: .4px;
    text-transform: none;
    line-height: 1.2em;
    margin-top: 50px;
}

.aboutPage p {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.imgRadius {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap;
}

@media screen and (max-width: 945px) {
    .aboutPage .flex {
        flex-direction: column;
        align-content: center;
        row-gap: 75px;
    }
}