.logoContainer {
    position: relative;
    margin: 0 auto;
}

.logoContainer .logoImg {
    width: 200px;
    position: absolute;
    top: 50%;
    height: 7em;
    margin-top: -5em;
    justify-self: center;
}

.brandLogo {
    justify-self: center;
}

.brandsPage .brands {
    margin: 20px 0 60px 0;
}

.brandsPage .brandHeading {
    max-width: 65%;
    margin: 0 auto;
    font-size: 28px;
    margin-top: 50px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2em;
    text-align: center;
    text-transform: none;
    letter-spacing: .4px;
    font-family: montserrat, sans-serif;
}

.brandsPage .brandHeading h2 {
    font-size: 28px;
    font-weight: 600;
}

.brandsPage .brandHeading .brandSubtitle {
    margin-top: 30px;
    font-size: 22px;
}

.brandsPage .brandHeading a {
    color: rgba(33, 41, 176, 0.82);
}

.brandsPage .logoContainer {
    padding: 40px;
    display: grid;
    grid-gap: 75px;
    grid-row-gap: 100px;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.brandsPage .hrLine {
    width: 80%;
    margin: 80px auto;
}

.brandsPage .pageBreak {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media screen and (max-width: 438px) {
    .brandsPage .brands .brandHeading {
        max-width: 95%;
    }
    .brandsPage .brands .logoContainer {
        grid-gap: 5px;
        max-width: 35%;
        grid-row-gap: 75px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 320px) {
    .brandsPage .brands .brandHeading {
        max-width: 95%;
    }
    .brandsPage .brands .brandHeading .brandSubtitle {
        font-size: 18px;
    }
    .brandsPage .brands .logoContainer {
        grid-gap: 0px;
        max-width: 100%;
        grid-row-gap: 75px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    .brandsPage .brands .logoContainer {
        grid-gap: 0px;
        max-width: 100%;
        grid-row-gap: 75px;
        grid-template-columns: 1fr 1fr;
    }
    .brandsPage .brandHeading {
        font-size: 22px;
    }
    .brandsPage .brandHeading .brandSubtitle {
        font-size: 14px;
    }
}

@media screen and (max-width: 438px) {
    .brandsPage .brands .logoContainer {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 0px;
        grid-row-gap: 75px;
    }
}

@media screen and (max-width: 438px) {
    .logoContainer .logoImg {
        position: relative;
        width: 145px;
    }
}

@media screen and (max-width: 375px) {
    .logoContainer .logoImg {
        position: relative;
        width: 125px;
    }
}

@media screen and (max-width: 320px) {
    .logoContainer .logoImg {
        width: 105px;
    }
}