.contactPage {
    font-family: "PT Sans", sans-serif;
}

.contactPage .contactPageContents {
    margin: 20px 0 60px 0;
    text-align: center;
}

.contactPage .header {
    background-color: #201a16;
    height: 150px;
}

.contactPage h2 {
    text-align: center;
    margin-bottom: 60px;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 33px;
    letter-spacing: .4px;
    text-transform: none;
    line-height: 1.2em;
    margin-top: 50px;
}

.contactPage p {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .4px;
}

.contactPage .breakLine {
    width: 80%;
    margin: 0 auto;
}

.contactPage .pageBreak {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.contactPage .buttonContainer {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-around;
}

.contactPage .contactBtn {
    color: #eee;
    border: none;
    height: 50px;
    width: 240px;
    cursor: pointer;
    margin: 70px 0 70px 0;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .0px;
}

.contactPage .contactBtn:hover {
    opacity: .8;
}

.contactPage a {
    color: rgba(33, 41, 176, 0.82);
}

.contactPage .storeInfo {
    margin: 40px 0 40px 0;
}

.contactPage .storeAddress {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 985px) {
    .contactPage .buttonContainer {
        flex-direction: column;
    }
    .contactPage .contactBtn {
        margin: 20px 0 20px 0;
        width: 100%;
        height: 75px;
    }
    .contactPage .storeAddress {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contactPage .storeAddress .address {
        border-right: 1px solid black;
    }
    .contactPage .phoneNumber {
        margin-top: 40px;
    }
    .contactPage a {
        font-size: 28px;
    }
    .contactPage h2 {
        font-size: 28px;
    }
}