.homeServices {
    margin: 20px 0 60px 0;
    font-family: "PT Sans", sans-serif;
    text-align: center;
}

.homeServices a {
    color: rgba(33, 41, 176, 0.82);
}

.homeServices .servicesWrapper .service a div {
    background: white;
    z-index: 800;
    opacity: 98%;
}

.serviceDesc {
    font-family: montserrat, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 1.6em;
    color: #1f1f1f;
    margin: 0 45px 0 45px;
}

.contactInfo {
    margin: 10px 0 70px 0;
}

.mission,
.homeServices h2 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.3em;
    color: #1f1f1f;
    margin: 75px 40px 15px 40px;
}

.mission {
    margin: 10px 40px 75px 40px;
}

.servicesWrapper p {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sectionTitle {
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: none;
    line-height: 1.1em;
    font-family: playfair-display, serif !important;
    font-weight: 900;
    font-style: normal;
    color: #eee;
    padding: 2px;
    position: relative;
    bottom: 10%;
    z-index: 800;
    border-radius: 0 5px 50px 0;
    background-color: #6bc06a;
    width: 50%;
}

.servicesWrapper {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    justify-items: center;
    justify-content: center;
    grid-gap: 50px;
    margin-top: 50px;
}

.serviceImg {
    height: 320px;
    width: 320px;
    cursor: pointer;
    box-shadow: 2px 4px 14px 0 rgba(0, 0, 0, 0.19);
    display: inline;
    margin: 0 auto;
    max-height: 500px;
    max-width: 500px;
    border-radius: 100% 100% 97% 0% / 58% 0% 100% 20%;
}

.storeFront {
    max-height: 650px;
    width: 100vw;
    height: 650px;
    position: relative;
}

.showroomInfo {
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.6em;
    color: #1f1f1f;
    margin: 15px 0 15px 0;
}

.storeImage {
    background-color: rgba(32, 26, 22, .6);
    height: 450px;
    margin-top: 80px;
}

.storeFrontImg {
    width: 100%;
    height: 450px;
    position: relative;
    bottom: 450px;
    z-index: -999;
    opacity: .9;
}

.storeImage .imageOverlay {
    height: 450px;
}

.storeImage .splashDesc {
    animation: feature-text-anim .75s ease-in-out;
    position: relative;
    width: 100%;
    max-width: 956px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    z-index: 999;
    padding: 32px;
    bottom: 215px;
    text-align: center;
    text-rendering: optimizeLegibility;
}

.storeInfoTitle {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
}

.storeImage p {
    font-family: playfair-display, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.3em;
    color: #9c9999;
    margin: 0px auto 50px auto;
}

.storeImage strong {
    font-family: playfair-display, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 86px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1.1em;
    margin: 0 auto;
    color: #eee;
}

.storeInfo {
    width: 80%;
    margin: 60px auto;
    font-family: montserrat, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
}

.storeInfo h3 {
    margin-bottom: 80px;
}

.topImages {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.topImages .store1 {
    box-shadow: 2px 4px 14px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
}

.topImages .store2 {
    box-shadow: 2px 4px 14px 0 rgba(0, 0, 0, 0.19);
    border-bottom-left-radius: 37px 140px;
    border-bottom-right-radius: 23px 130px;
    border-top-left-radius: 110px 19px;
    border-top-right-radius: 120px 24px;
}

.topImages .store3,
.topImages .store4 {
    margin-top: 60px;
    width: 100%;
    height: 80%;
    box-shadow: 2px 4px 14px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 2560px) {
    .homeServices .store3,
    .homeServices .store4 {
        margin-top: 200px;
        width: 100%;
        height: 80%;
    }
    .homeServices .topImages .store1,
    .homeServices .topImages .store2 {
        height: 700px;
    }
    .homeServices .storeImage {
        height: 650px;
    }
    .homeServices .storeImage .storeFrontImg {
        height: 650px;
    }
    .homeServices .storeImage .splashDesc {
        bottom: 215px;
    }
    .homeServices .servicesWrapper .serviceImg {
        height: 400px;
        width: 475px;
    }
    .homeServices .servicesWrapper .serviceDesc {
        margin: 0 115px 0 115px;
    }
}

@media screen and (max-width: 1920px) {
    .homeServices .servicesWrapper .serviceImg {
        height: 375px;
    }
    .homeServices .servicesWrapper .serviceDesc {
        margin: 0 60px 0 60px;
    }
    .homeServices .store3,
    .homeServices .store4 {
        height: 60%;
        width: 100%;
    }
    .homeServices .topImages .store1,
    .homeServices .topImages .store2 {
        height: 600px;
    }
}

@media screen and (max-width: 1440px) {
    .homeServices .servicesWrapper .serviceImg {
        height: 320px;
        width: 320px;
    }
    .homeServices .servicesWrapper .serviceDesc {
        margin: 0 40px 0 40px;
    }
    .homeServices .topImages .store1,
    .homeServices .topImages .store2 {
        height: 500px;
    }
    .homeServices .store3,
    .homeServices .store4 {
        width: 100%;
        height: 60%;
        margin-top: 50px;
    }
}

@media screen and (max-width: 1150px) {
    .homeServices .sectionTitle {
        font-size: 22px;
        letter-spacing: 2px;
        text-transform: none;
        line-height: 1.1em;
        font-family: playfair-display, serif !important;
        font-weight: 900;
        margin: 10px auto;
        font-style: normal;
        color: #1f1f1f;
        padding: 2px;
        z-index: 800;
        border-radius: 0 5px 50px 0;
        background-color: transparent;
    }
    .homeServices h2 {
        font-size: 16px;
        margin: 0 10px 0 10px;
        padding: 15px 45px 0px 45px;
    }
    .mission {
        font-size: 16px;
    }
    .homeServices .contactInfo {
        margin: 35px 7px 70px 7px;
    }
    .homeServices .servicesWrapper {
        display: flex;
        flex-direction: column;
    }
    .homeServices .servicesWrapper .service {
        margin-bottom: 40px;
    }
    .homeServices .servicesWrapper .serviceDesc {
        margin: 0 25px 0 25px;
    }
    .homeServices .storeInfo,
    .homeServices .servicesWrapper .serviceImg {
        width: 50%;
    }
    .homeServices .storeInfo .topImages {
        flex-direction: column;
    }
    .homeServices .storeInfo .store2 {
        margin-bottom: 45px;
    }
    .homeServices .storeInfo .store1,
    .homeServices .storeInfo .store2 {
        width: 100%;
        height: 350px;
    }
    .homeServices .storeImage .splashDesc strong {
        font-size: 50px;
    }
    .homeServices .storeImage .splashDesc p {
        font-size: 22px;
    }
    .homeServices .store3,
    .homeServices .store4 {
        height: 350px;
    }
}

@media screen and (max-width: 555px) {
    .homeServices .storeInfo {
        width: 75%;
    }
}

@media screen and (max-width: 438px) {
    .homeServices h2 {
        font-size: 14px;
        margin: 0 10px 0 10px;
        padding: 15px 45px 0px 45px;
    }
    .homeServices .mission {
        font-size: 14px;
    }
    .homeServices .contactInfo {
        margin: 35px 7px 70px 7px;
    }
    .homeServices .servicesWrapper {
        display: flex;
        flex-direction: column;
    }
    .homeServices .servicesWrapper .service {
        margin-bottom: 40px;
    }
    .homeServices .servicesWrapper .serviceDesc {
        margin: 0 25px 0 25px;
    }
    .homeServices .storeImage .splashDesc strong {
        font-size: 50px;
    }
    .homeServices .storeImage .splashDesc p {
        font-size: 22px;
    }
    .homeServices .storeInfo,
    .homeServices .servicesWrapper .serviceImg {
        width: 90%;
    }
    .homeServices .storeInfo .topImages {
        flex-direction: column;
    }
    .homeServices .storeInfo .store1,
    .homeServices .storeInfo .store2 {
        width: 100%;
        height: 350px;
    }
    .homeServices .storeInfo .store2 {
        margin-bottom: 45px;
    }
    .homeServices .store3 {
        height: 350px;
    }
}

@media screen and (max-width: 438px) {
    .homeServices h2 {
        padding: 15px 10px 0px 10px;
    }
    .homeServices .servicesWrapper .serviceDesc {
        margin: 0 18px 0 18px;
    }
    .homeServices .servicesWrapper .serviceImg {
        width: 90%;
        height: 275px;
    }
    .homeServices .storeImage {
        height: 350px;
        margin-top: 20px;
    }
    .homeServices .storeImage .storeFront {
        height: 350px;
        max-height: 350px;
    }
    .homeServices .storeImage .storeFrontImg {
        height: 350px;
    }
    .homeServices .storeImage .imageOverlay {
        height: 450px;
    }
    .homeServices .storeImage .splashDesc {
        bottom: 370px;
    }
    .homeServices .storeImage .splashDesc strong {
        font-size: 40px;
    }
    .homeServices .storeInfo {
        margin-top: 20px;
    }
    .homeServices .storeInfo .store1,
    .homeServices .storeInfo .store2,
    .homeServices .storeInfo .store3,
    .homeServices .storeInfo .store4 {
        height: 250px;
    }
    .homeServices .storeInfo .store3,
    .homeServices .storeInfo .store4 {
        margin-top: 45px;
    }
}