.productsPage {
    font-family: "PT Sans", sans-serif;
}

.productsPage .products {
    margin: 20px 0 60px 0;
}

.productsPage .products h2 {
    text-align: left;
    margin-left: 40px;
}

.productsPage .products .speakerHeader {
    margin-top: 60px;
}

.productsPage .products .productSlides {
    margin: 0 auto;
    overflow: hidden;
}

.productsPage .brandHeading {
    max-width: 65%;
    margin: 0 auto;
}

.productsPage .brandHeading .brandSubtitle {
    margin-top: 30px;
}

.productsPage .brandHeading a {
    color: rgba(33, 41, 176, 0.82);
}

@media screen and (max-width: 438px) {
    .productsPage .products .brandHeading {
        max-width: 95%;
    }
    .productsPage .products .logo-container {
        grid-gap: 5px;
        max-width: 35%;
        grid-row-gap: 75px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 320px) {
    .productsPage .products .brandHeading {
        max-width: 95%;
    }
    .productsPage .products .brandHeading .brandSubtitle {
        font-size: 18px;
    }
}

.productsPage .products .logo-container {
    grid-gap: 0px;
    max-width: 100%;
    grid-row-gap: 75px;
    grid-template-columns: 1fr 1fr;
}