.productsPage {
  font-family: "PT Sans", sans-serif;
}

.productsPage .products {
  margin: 20px 0 60px 0;
}

.productsPage .products h2 {
  text-align: left;
  margin-left: 40px;
}

.productsPage .products .speakerHeader {
  margin-top: 60px;
}

.productsPage .products .productSlides {
  margin: 0 auto;
  overflow: hidden;
}

.productsPage .products .topBreakLine {
  width: 90%;
  margin: 0 auto;
}

.productsPage .products .topPageBreak {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.productsPage .products .bottomBreakLine {
  width: 90%;
  margin: 0 auto 60px auto;
}

.productsPage .products .bottomPageBreak {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.productsPage .brandHeading {
  max-width: 65%;
  margin: 0 auto;
}

.productsPage .brandHeading .brandSubtitle {
  margin-top: 30px;
}

.productsPage .brandHeading a {
  color: rgba(33, 41, 176, 0.82);
}


.productsPage .hrLine {
  width: 80%;
  margin: 80px auto;
}

.productsPage .pageBreak {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media screen and (max-width: 438px) {
  .productsPage .products .brandHeading {
    max-width: 95%;
  }

  .productsPage .products .logo-container {
    max-width: 35%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-row-gap: 75px;
  }

}

@media screen and (max-width: 320px) {
  .productsPage .products .brandHeading {
    max-width: 95%;
  }

  .productsPage .products .brandHeading .brandSubtitle {
    font-size: 18px;
  }
}

.productsPage .products .logo-container {
  max-width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  grid-row-gap: 75px;
}