.phonePage {
  font-family: "PT Sans", sans-serif;
}

.phonePage .header {
  background-color: #201a16;
  height: 150px;
}

.phonePage .securityInfo {
  max-width: 75%;
  margin: 0 auto;
}

.phonePage .securityInfo .pageHeading h1 {
  margin-top: 80px;
  margin-bottom: 40px;
}

.phonePage .securityInfo .pageHeading p {
  margin-bottom: 80px;
}

.phonePage .securityInfo .honeywellImg {
  width: 100%;
}

.phonePage .securityInfo .securitySystems {
  text-align: left;
}

.phonePage .securityInfo .securitySystems h2 {
  margin-top: 30px;
}

.phonePage .securityInfo .bottomServices {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 80px;
}

.phonePage .securityInfo .bottomServices .wirelessPhones {
  max-width: 45%;
}

.phonePage .securityInfo .bottomServices .wirelessPhones h2 {
  margin-top: 60px;
}


.phonePage .securityInfo .bottomServices .desktopPhones {
  max-width: 45%;
}

.phonePage .securityInfo .bottomServices .desktopPhones h2 {
  margin-top: 60px;
}

.phonePage .securityInfo .bottomServices img {
  height: 325px;
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 2560px) {
  .phonePage .securityInfo .honeywellImg {
    height: 1000px;
  }

  .phonePage .securityInfo .bottomServices img {
    height: 655px;
  }
}

@media screen and (max-width: 1920px) {
  .phonePage .securityInfo .honeywellImg {
    height: 900px;
  }

  .phonePage .securityInfo .bottomServices img {
    height: 500px;
  }
}

@media screen and (max-width: 1440px) {
  .phonePage .securityInfo .honeywellImg {
    height: 600px;
  }

  .phonePage .securityInfo .bottomServices img {
    height: 350px;
  }
}

@media screen and (max-width: 438px) {
  .phonePage .header {
    display: none;
  }

  .phonePage .securityInfo {
    max-width: 90%;
  }

  .phonePage .securityInfo .honeywellImg {
    height: 350px;
  }

  .phonePage .securityInfo .pageHeading h1 {
    margin-top: 120px;
  }

  .phonePage .securityInfo .bottomServices {
    flex-direction: column;
  }

  .phonePage .securityInfo .bottomServices .wirelessPhones {
    max-width: 100%;
    margin-top: 80px;
  }

  .phonePage .securityInfo .bottomServices .wirelessPhones h2 {
    margin-top: 30px;
  }


  .phonePage .securityInfo .bottomServices .desktopPhones {
    max-width: 100%;
  }

  .phonePage .securityInfo .bottomServices .desktopPhones h2 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .phonePage .securityInfo p {
    font-size: 15px;
  }

  .phonePage .securityInfo .honeywellImg {
    height: 250px;
  }

  .phonePage .securityInfo .pageHeading p {
    margin-bottom: 50px;
  }

  .phonePage .securityInfo .pageHeading h1 {
    margin: 100px 0 30px 0;
  }

  .phonePage .securityInfo .bottomServices {
    margin: 50px 0;
  }

  .phonePage .securityInfo .bottomServices img {
    height: 250px;
  }

  .phonePage .securityInfo .bottomServices .wirelessPhones {
    margin-top: 50px;
  }

}