.servicesProvided {
    height: auto;
    margin: 20px 0 60px 0;
    font-family: montserrat, sans-serif;
}

.servicesProvided p,
.servicesProvided h3 {
    margin-top: 10px;
    font-weight: 400;
    line-height: 30px;
    word-spacing: 2px;
    text-align: center;
    font-style: normal;
    letter-spacing: 1.5px;
    font-family: montserrat, sans-serif;
}

.sectionTitle {
    font-weight: 600 !important;
    margin: 40px 0 20px 0 !important;
}

.servicesProvided .header {
    width: 65%;
    margin: 0 auto;
    text-align: center;
}

.servicesProvided .header .title {
    font-size: 28px;
    font-weight: 400;
    margin-top: 50px;
    font-style: normal;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: .4px;
    font-family: montserrat, sans-serif;
}

.servicesProvided .header .subtitle {
    font-size: 22px;
    margin-top: 30px;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: 0px;
    margin-bottom: 50px;
    text-transform: none;
    font-family: montserrat, sans-serif;
}

.pageBreak {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.audioService {
    max-width: 82.4%;
    text-align: left;
    margin: 80px auto 0 auto;
}

.topServiceImg {
    width: 100%;
    display: flex;
    height: 600px;
    margin: 0 auto;
    box-shadow: 2px 4px 14px 0 rgba(0, 0, 0, 0.19);
}

.servicesInfo {
    display: flex;
    text-align: left;
    margin: 80px auto;
    justify-content: space-between;
}

.servicesInfo .automation,
.servicesInfo .video {
    margin-top: 80px;
    max-width: 82.4%;
    margin: 80px auto;
    max-height: 725px;
}

.flex {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}

.servicesInfo p {
    width: 83%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.servicesInfo .serviceImg {
    width: 83%;
    height: 400px;
}

.imgDiv span,
.audioService a span {
    display: flex;
    justify-content: center;
    border-radius: 45px/15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media screen and (max-width: 2560px) {
    .servicesProvided .topServiceImg {
        height: 1100px;
    }
    .servicesProvided .servicesInfo .serviceImg {
        height: 650px;
        margin-left: 90px;
    }
}

@media screen and (max-width: 1920px) {
    .servicesProvided .topServiceImg {
        height: 900px;
    }
    .servicesProvided .servicesInfo .serviceImg {
        height: 500px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1440px) {
    .servicesProvided .topServiceImg {
        height: 600px;
    }
    .servicesProvided .servicesInfo .serviceImg {
        height: 425px;
    }
}

@media screen and (max-width: 1300px) {
    .servicesProvided .servicesInfo {
        flex-wrap: wrap;
    }
    .servicesProvided .servicesInfo .automation {
        margin: 40px auto;
        max-height: 3000px;
    }
}

@media screen and (max-width: 438px) {
    .servicesProvided .header {
        width: 95%;
    }
    .servicesProvided .header .title {
        font-size: 22px;
    }
    .servicesProvided .header .subtitle {
        font-size: 18px;
    }
    .servicesProvided .topService {
        margin-bottom: 80px;
    }
    .servicesProvided .topService .topServiceImg {
        height: 350px;
    }
    .servicesProvided .topService .audio-service {
        max-width: 90%;
    }
    .servicesProvided .servicesInfo {
        width: 90%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }
    .servicesProvided .servicesInfo p {
        width: 100%;
    }
    .servicesProvided .servicesInfo .serviceImg {
        height: 350px;
        width: 100%;
    }
    .servicesProvided .servicesInfo .automation,
    .servicesProvided .servicesInfo .video {
        margin-top: 0px;
    }
}

@media screen and (max-width: 320px) {
    .servicesProvided p {
        font-size: 15px;
    }
    .servicesProvided .servicesInfo p,
    .servicesProvided .topService {
        margin-bottom: 50px;
    }
    .servicesProvided .servicesInfo .serviceImg {
        width: 100%;
        height: 250px;
    }
    .servicesProvided .topService .topServiceImg {
        height: 250px;
    }
    .servicesProvided .header .title {
        font-size: 25px;
    }
    .servicesProvided .header .subtitle {
        font-size: 18px;
    }
    .servicesProvided .audioService {
        margin: 60px auto 0 auto;
    }
}