.videoPage .header {
    background-color: #201a16;
    height: 150px;
}

.videoPage p,
.videoPage h2 {
    margin-top: 10px;
    line-height: 30px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    text-align: center;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.homeCinema span:nth-child(1),
.televisionSystems span:nth-child(1),
.projectionSystems span:nth-child(1) {
    max-height: 650px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 45px/15px;
}

.sectionTitle {
    margin-top: 20px !important;
    font-weight: 600 !important;
}

.videoPage .pageHeading h1 {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 2em;
    text-align: center;
}

.videoPage .pageHeading p {
    margin-bottom: 80px;
}

.videoPage .videoInfo {
    max-width: 75%;
    margin: 0 auto;
}

.videoPage .homeTheater {
    width: 100%;
    max-width: 100%;
}

.videoPage .homeCinema {
    text-align: left;
}

.videoPage .bottomServices {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 80px;
}

.videoPage .bottomServices .projectionSystems,
.videoPage .bottomServices .televisionSystems {
    max-width: 40%;
}

.videoPage .bottomServices img {
    height: 300px;
    width: 100%;
    max-width: 100%;
}

.videoPage .productSlides {
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 2560px) {
    .videoPage .homeTheater {
        height: 1100px;
    }
    .videoPage .bottomServices img {
        height: 550px;
    }
}

@media screen and (max-width: 1920px) {
    .videoPage .homeTheater {
        height: 900px;
    }
    .videoPage .bottomServices img {
        height: 450px;
    }
}

@media screen and (max-width: 438px) {
    .videoPage .header {
        display: none;
    }
    .videoPage .homeTheater {
        height: 350px;
    }
    .videoPage .videoInfo {
        max-width: 90%;
    }
    .videoPage .pageHeading h1 {
        margin-top: 120px;
    }
    .videoPage .bottomServices {
        flex-direction: column;
    }
    .videoPage .bottomServices .televisionSystems {
        max-width: 100%;
    }
    .videoPage .bottomServices .projectionSystems {
        max-width: 100%;
        margin-top: 60px;
    }
}

@media screen and (max-width: 320px) {
    .videoPage p {
        font-size: 15px;
    }
    .videoPage .homeTheater {
        height: 250px;
    }
    .videoPage .videoInfo .video-img {
        height: 250px;
    }
    .videoPage .videoInfo .pageHeading p {
        margin-bottom: 50px;
    }
    .videoPage .videoInfo .pageHeading h1 {
        margin: 100px 0 30px 0;
    }
    .videoPage .videoInfo .bottomServices {
        margin: 50px 0;
    }
    .videoPage .videoInfo .bottomServices img {
        height: 250px;
    }
}